# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/

# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# App Files
# --------------------
test/coverage/
scripts
uploads
test/tmp
subapps/*

# build files
dist
.tmp
