{
  mountPath: ''
  subappsDir: 'subapps'
  subapps: []
  viewEngine: 'jade'
  viewsDir: 'app/views'
  authentication: 'onRequest'
  authStrategy: 'local'
  authModule: []
  landingModule: ''
  dbname: 'sandcat'
  uploadsDir: 'uploads'
  baseURL: 'http://localhost:8006'
}
