.jumbotron
  h1= title
  p Welcome to the Mean Cat
  p Angular is up?: {{1336 + 1}}

div(ng-controller='HairballController')
  .bg-info
    p {{info}}!!
    p Our sources tell us that angular sent: {{global.aThing}}
