// build:css styles/main.css
link(rel='stylesheet', href='stylesheets/main.css')
// endbuild
// build:js bower_components/webcomponentsjs/webcomponents-lite.min.js
script(src='bower_components/webcomponentsjs/webcomponents-lite.js')
// endbuild
// will be replaced with elements/index-elements.vulcanized.html
link(rel='import', href='elements/index-elements.html')
// endreplace
// For shared styles, shared-styles.html import in elements.html
style(is='custom-style', include='app-shared-styles').
