div(ng-controller='KittensController', ng-init='find()')
  .row
    .col-sm-3(ng-show='kittens && kittens.length')
      input.form-control(type='text', ng-model='searchstr', placeholder='search')
  .row
    .col-sm-8(ng-show='kittens && kittens.length')
      table(class='table')
        thead
          tr
            th name
            th created
            th actions
        tbody
          tr(ng-repeat='kitten in kittens | filter:searchstr')
            td {{kitten.name}}
            td {{kitten.created | date:small}}
            td
              a.btn.btn-default(ng-href='#!/edit/{{kitten._id}}')
                span.glyphicon.glyphicon-edit
              a.btn.btn-default(ng-click='remove(kitten)') delete

    h2(ng-hide='!kittens || kittens.length') No kittens yet.
        a(href='#!/create')  Create One
