extends layouts/kittens

block content
  .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button(class='navbar-toggle', data-toggle='colapse', data-target='.navbar-colapse')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
        a(class='navbar-brand', href='home') Mean Cat
        .navbar-collapse.collapse
          ul(class='nav navbar-nav')
            li(class='active')
              a(href='#list', ui-sref='list') list
            li
              a(href='#create', ui-sref='create') create

    .container
      div(ui-view)

    script(src='jquery/dist/jquery.min.js')
