doctype html
html(ng-app='system')
  head
    title= title
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='angular/angular.js')
    script(src='angular-ui-router/release/angular-ui-router.js')
    script(src='javascripts/hairball.js')
    script(src='javascripts/controllers/hairball.js')
    script(src='javascripts/services/global.js')
    script(src='javascripts/routes/hairball.js')
  body
    block content
